.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #141414;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  color: white;
}

.App-header > img{
  width: 100px;
  height: auto;
}

.App-content{
  padding-top: 2em;
}

.App-table{
  text-align: left;
}

.col-title{
  margin-right: 3rem;
}